services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    networks:
      - docker-network
    restart: on-failure
    volumes:
      - wp_data:/var/www/html

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - docker-network
    restart: on-failure
    volumes:
      - wp_data:/var/www/html
    env_file:
      - .env
    secrets:
      - wp_admin_password
      - wp_user_password
      - db_password

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    networks:
      - docker-network
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    env_file:
      - .env
    secrets:
      - db_root_password
      - db_password
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  redis:
    container_name: redis
    build: ./requirements/bonus/redis
    networks:
      - docker-network
    restart: unless-stopped
  
  ftp:
    container_name: ftp
    build: ./requirements/bonus/ftp
    depends_on:
      - wordpress
    volumes:
      - wp_data:/var/www/html
    ports:
      - "21:21"
      - "30000-30010:30000-30010"
    networks:
      - docker-network
    secrets:
      - ftp_password

networks:
  docker-network:
    driver: bridge

volumes:
  wp_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/cscache/data/wp'
  db_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/cscache/data/db'

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
  ftp_password:
    file: ./secrets/ftp_password.txt