services:
  nginx:
    build: ./requirements/nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    networks:
      - docker-network
    restars: always


  wordpress:
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    networks:
      - docker-network
    restart: always
    volumes:
      - wp_data:/var/www/html
    env_file:
      - .env

  mariadb:
    build: ./requirements/mariadb
    networks:
      - docker-network
    restart : always
    volumes :
      - db_data:/var/lib/mysql
    env_file:
      - .env

networks:
  docker-network:
    driver: bridge

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      device: /home/cscache/data/db
      o: bind
  wp_data:
    driver: local
    driver_opts:
      type: none
      device: /home/cscache/data/wp
      o: bind

