services:
  nginx:
    build: ./requirements/nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    networks:
      - docker-network
    restart: always
    volumes:
      - wp_data:/var/www/html

  wordpress:
    build: ./requirements/wordpress
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - docker-network
    restart: always
    volumes:
      - wp_data:/var/www/html
    env_file:
      - .env

  mariadb:
    build: ./requirements/mariadb
    networks:
      - docker-network
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  docker-network:
    driver: bridge

volumes:
  db_data:
  wp_data:
